body{
    margin: 0px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}



a:hover{
    color: #1ed760;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/* 브라우저는 display의 디폴트값은 
세로정렬 : block
가로정렬로 바꾸려면 flex이용 
-> 부모태그 nav 에 적용해야함  */

/* 가로정렬 정리 justify-content */
nav{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.nav-img{
    width: 132px;
    height: 44.99px;
}

.nav-item{
    padding: 28px 17px;
    font-weight: 700;
}


main{
    height: 968px;
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    /* main-container 를 가운데다가 적용시키면서 
    display flex 적용할때는 부모에다가 적용해야함 
    그래서 main 에 작성 */

}

.headline{
    font-size: 156px;
    line-height: 166px;
    color: #1ed760;
    font-weight: 900;
    position: relative;
    left: 220px;
    padding-bottom: 40px;
}

.headline-first{
    position: relative;
    left: -2.5em;
}

.sub-headline{
    color: #1ed760;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
    text-align: center;

}
.button-area{
    text-align: center;
}

.button-style{
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
    border: none;

}

.button-style:hover{
    transform: scale(1.07);
}

footer{
    height: 530px;
    background-color: black;
}

